{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Offshore Online Banking</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static "css/typography.css" %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static "css/style.css" %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static "css/responsive.css" %}">
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-navbar-logo d-flex justify-content-between">
               <a href="index.html" class="header-logo">
               <img src="images/logo.png" class="img-fluid rounded" alt="">
               <span>FinDash</span>
               </a>
               <div class="iq-menu-bt align-self-center">
                  <div class="wrapper-menu">
                     <div class="main-circle"><i class="ri-menu-line"></i></div>
                     <div class="hover-circle"><i class="ri-close-fill"></i></div>
                  </div>
               </div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li class="active">
                        <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                           <li class="active"><a href="index.html"><i class="las la-laptop-code"></i>Account Dashboard</a></li>
                           <li class="active"><a href="{% url "transfer" %}"><i class="las la-laptop-code"></i>Transfer</a></li>
                           <li><a href="dashboard-6.html"><i class="las la-bullseye"></i>Manufacturing </a></li>
                        </ul>
                     </li>
                     <li aria-expanded="true">
                        <a href="#menu-design" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><i class="ri-menu-3-line iq-arrow-left"></i><span>Menu Design</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="menu-design" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="horizontal-menu.html"><i class="ri-git-commit-line"></i>Horizontal menu</a></li>
                           <li><a href="horizontal-top-menu.html"><i class="ri-text-spacing"></i>Horizontal Top Menu</a></li>
                           <li><a href="two-sidebar.html"><i class="ri-indent-decrease"></i>Two Sidebar</a></li>
                           <li><a href="vertical-top-menu.html"><i class="ri-line-height"></i>Vertical block menu</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="calendar.html" class="iq-waves-effect"><i class="las la-calendar iq-arrow-left"></i><span>Calendar</span></a>
                     </li>
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>
         <!-- TOP Nav Bar -->
         <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-menu-bt d-flex align-items-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-menu-line"></i></div>
                        <div class="hover-circle"><i class="ri-close-fill"></i></div>
                     </div>
                     <div class="iq-navbar-logo d-flex justify-content-between ml-3">
                        <a href="index.html" class="header-logo">
                        <img src="images/logo.png" class="img-fluid rounded" alt="">
                        <span>FinDash</span>
                        </a>
                     </div>
                  </div>
                  <div class="iq-search-bar">
                     <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="Type here to search...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                     </form>
                  </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                  <i class="ri-menu-3-line"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav ml-auto navbar-list">
                        <li class="nav-item">
                           <a class="search-toggle iq-waves-effect language-title" href="#"><span class="ripple rippleEffect" style="width: 98px; height: 98px; top: -15px; left: 56.2969px;"></span><img src="images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"> EN <i class="ri-arrow-down-s-line"></i></a>
                           <div class="iq-sub-dropdown">
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-02.png" alt="img-flaf" class="img-fluid mr-2">French</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-03.png" alt="img-flaf" class="img-fluid mr-2">Spanish</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-04.png" alt="img-flaf" class="img-fluid mr-2">Italian</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-05.png" alt="img-flaf" class="img-fluid mr-2">German</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-06.png" alt="img-flaf" class="img-fluid mr-2">Japanese</a>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <ul class="navbar-list">
                     <li class="line-height">
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                           <img src="images/user/none.jpg" class="img-fluid rounded mr-3" alt="user">
                           <div class="caption">
                              <h6 class="mb-0 line-height">Barry Tech</h6>
                              <p class="mb-0">Manager</p>
                           </div>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                           <div class="iq-card shadow-none m-0">
                              <div class="iq-card-body p-0 ">
                                 <div class="bg-primary p-3">
                                    <h5 class="mb-0 text-white line-height">Hello Barry Tech</h5>
                                    <span class="text-white font-size-12">Available</span>
                                 </div>
                                 <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-lock-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">Privacy Settings</h6>
                                          <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="d-inline-block w-100 text-center p-3">
                                    <a class="bg-primary iq-sign-btn" href="sign-in.html" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <!-- TOP Nav Bar END -->
         
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-2">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="text-center">
                              <h6> Revenue</h6>
                              <h2 class="mt-2"><b>19.8</b></h2>
                              <p class="mb-0 text-muted mt-3">
                                 <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-2">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="text-center">
                              <h6> Gross Margin</h6>
                              <h2 class="mt-2"><b>12.6</b></h2>
                              <p class="mb-0 text-muted mt-3">
                                 <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-2">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="text-center">
                              <h6> Ebitda</h6>
                              <h2 class="mt-2"><b>18.5</b></h2>
                              <p class="mb-0 text-muted mt-3">
                                 <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-2">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="text-center">
                              <h6> Working Capital</h6>
                              <h2 class="mt-2"><b>25.6</b></h2>
                              <p class="mb-0 text-muted mt-3">
                                 <span class="badge badge-pill badge-primary mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-2">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="text-center">
                              <h6> Capex</h6>
                              <h2 class="mt-2"><b>20.0</b></h2>
                              <p class="mb-0 text-muted mt-3">
                                 <span class="badge badge-pill badge-danger mr-2"><i class="ri-arrow-down-fill"></i> 3.48%</span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-2">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="text-center">
                              <h6> Free Cash Flow</h6>
                              <h2 class="mt-2"><b>30.0</b></h2>
                              <p class="mb-0 text-muted mt-3">
                                 <span class="badge badge-pill badge-danger mr-2"><i class="ri-arrow-down-fill"></i> 3.48%</span>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Profit/Loss</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle text-primary" data-toggle="dropdown">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div id="iq-chart-profitndloss"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height banner-image-block-bg position-relative" style="background: transparent url(images/page-img/36.png) no-repeat scroll center bottom; background-size: contain; height: 455px; box-shadow: none;">
                     </div>
                  </div>
                  <div class="col-lg-3 row m-0 p-0">
                     <div class="col-md-4 col-lg-12">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded">
                           <div class="iq-card-body">
                              <h6>Assets</h6>
                              <div class="text-center">
                                 <h2>-108.56K</h2>
                                 <p class="mb-0">Lorem ipsum dolor sit amet</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-lg-12">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded">
                           <div class="iq-card-body">
                              <h6>Liabilities</h6>
                              <div class="text-center">
                                 <h2>-425.20K</h2>
                                 <p class="mb-0">Lorem ipsum dolor sit amet</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-lg-12">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded">
                           <div class="iq-card-body">
                              <h6>Working Capital</h6>
                              <div class="text-center">
                                 <h2>-380.40K</h2>
                                 <p class="mb-0">Lorem ipsum dolor sit amet</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Money Structure</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle text-primary" data-toggle="dropdown">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div id="iq-chart-money"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <p class="mb-0">Accounts Payable</p>
                           <h4>5,124,000</h4>
                           <hr>
                           <div id="iq-chart-payble"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Cash Management</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle text-primary" data-toggle="dropdown">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                       <tbody>
                                          <tr>
                                             <td><img src="images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                             <td>USA</td>
                                             <td>2.820</td>
                                             <td>45.50%</td>
                                          </tr>
                                          <tr>
                                             <td><img src="images/small/flag-02.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                             <td>French</td>
                                             <td>1.690</td>
                                             <td>35.30%</td>
                                          </tr>
                                          <tr>
                                             <td><img src="images/small/flag-03.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                             <td>Spanish</td>
                                             <td>5.213</td>
                                             <td>52.36%</td>
                                          </tr>
                                          <tr>
                                             <td><img src="images/small/flag-04.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                             <td>Italian</td>
                                             <td>320</td>
                                             <td>5.50%</td>
                                          </tr>
                                          <tr>
                                             <td><img src="images/small/flag-05.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                             <td>German</td>
                                             <td>560</td>
                                             <td>4.50%</td>
                                          </tr>
                                          <tr>
                                             <td><img src="images/small/flag-06.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;"></td>
                                             <td>Japanese</td>
                                             <td>450</td>
                                             <td>4.34%</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div id="chartdiv" class="amcharts-chart-div" style="height: 300px; width: 100%;"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
       <!-- Footer -->
      <footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Copyright 2010 <a href="#">FinDash</a> All Rights Reserved.
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
      <!-- color-customizer -->
       <div class="iq-colorbox color-fix">
           <div class="buy-button"> <a class="color-full" href="#"><i class="fa fa-spinner fa-spin"></i></a> </div>
           <div class="clearfix color-picker">
               <h3 class="iq-font-black">FinDash Awesome Color</h3>
               <p>This color combo available inside whole template. You can change on your wish, Even you can create your own with limitless possibilities! </p>
               <ul class="iq-colorselect clearfix">
                   <li class="color-1 iq-colormark" data-style="color-1"></li>
                   <li class="color-2" data-style="iq-color-2"></li>
                   <li class="color-3" data-style="iq-color-3"></li>
                   <li class="color-4" data-style="iq-color-4"></li>
                   <li class="color-5" data-style="iq-color-5"></li>
                   <li class="color-6" data-style="iq-color-6"></li>
                   <li class="color-7" data-style="iq-color-7"></li>
                   <li class="color-8" data-style="iq-color-8"></li>
                   <li class="color-9" data-style="iq-color-9"></li>
                   <li class="color-10" data-style="iq-color-10"></li>
                   <li class="color-11" data-style="iq-color-11"></li>
                   <li class="color-12" data-style="iq-color-12"></li>
                   <li class="color-13" data-style="iq-color-13"></li>
                   <li class="color-14" data-style="iq-color-14"></li>
                   <li class="color-15" data-style="iq-color-15"></li>
                   <li class="color-16" data-style="iq-color-16"></li>
                   <li class="color-17" data-style="iq-color-17"></li>
                   <li class="color-18" data-style="iq-color-18"></li>
                   <li class="color-19" data-style="iq-color-19"></li>
                   <li class="color-20" data-style="iq-color-20"></li>
               </ul>
               <a target="_blank" class="btn btn-primary d-block mt-3" href="">Purchase Now</a>
           </div>
       </div>
       <!-- color-customizer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="js/kelly.js"></script>
      <!-- am maps JavaScript -->
      <script src="js/maps.js"></script>
      <!-- am worldLow JavaScript -->
      <script src="js/worldLow.js"></script>
      <!-- Style Customizer -->
      <script src="js/style-customizer.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>
   </body>
</html>